<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>דף דוגמה</title>
        <nav class="container">
      <ul>
        <li>
          <a href="contect_us.html" class="item">
            צור קשר
          </a>
        </li>
        <li>
          <a href="about_us.html" class="item">
            עלינו
          </a>
        </li>
      </ul>
    </nav>
</head>
<<div>
      <header>
        <h1>Book Component By Function</h1>
      </header>

      <main>
        <div>
          <p>mendi50k on tiktok is a legend</p>
          <p>Scope and colosure</p>
          <p>JS</p>
        </div>

        <h2>By Kyle Simpson</h2>
        <p>
          parts of the language that many JavaScript pogrammers simply avoid
        </p>
      </main>

      <footer>
        <p>&copy; 2022</p>
      </footer>
    </div>
</html>
